
body{
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* bar-section */
.bar-section{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.nav-item{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    margin: 0 10px;         
}

#live2020{
    text-decoration: none;
}

#push2020{
    text-decoration: none;
}
#link2020{
    text-decoration: none;
}

a#live2020:hover{
    color: black;
    text-decoration: none;
}

a#push2020:hover{
    color: black;
    text-decoration: none
}

a#link2020:hover{
    color: black;
    text-decoration: none
}


                                            /* Laptop responsive */
                                           /*                   */
                                          /*                   */
@media screen and (min-width: 1025px) {

   /* Heading */
   .hero{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../image/Untitled\ design.png');
    background-repeat: no-repeat;
    margin:2% 5% 0;  
    width: 90%;
    height: auto; 
}

.heading-able{
    font-size: 80px;
    font-family: 'Asset', cursive;
    text-shadow: 6px 4px black;
    color: #FFE9A0;
    padding:270px 18%;
}



/*Content and para text */

.content-intro{
    font-size: 25px;
    font-weight: bold;
    padding: 6% 23% 1%; 
}

.para-intro{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding:0 23% 2%;
}




/* image container */

.image-guitar{
    left: 30%;
    width: 60%;
    position: relative; 
    bottom: 380px;
}

.image-piano{
    right: 50%;
    top: 55px;
    position: relative;
    width: 70%;
    height: 600px;
}


.blank-box{
    position: relative;
    background-color: #fbffa7 ;
    width: 60%;
    height: 700px;
   left: 35%;
}



/* image 2 conatiner */

.green-box{
    position: relative;
    background-color: #b6ffc0;
    width: 60%;
    height: 750px;
    margin: 3% 5%;
}

.disk-img{
    width: 60%;
    height: auto;
    position: relative;
    margin: 8% 0 5%;  
    left: 10%;
}

.actor-img{
    width: 60%;
    height: auto;
    position: relative;
    left: 10%;
}

.utar-img{
    width: 65%;
    height: 550px;
    position: relative;
    left: 85%;
    bottom: 590px;
}

/* VOlume img */

.volume-img{
    margin: 2% 15% 0%;
    width: 70%;
    height: 500px;

}

/* frame video */

.frame-video { 
    margin: 2% 24%;
    height: 400px;
     width: 50%;
 }
 
/* footer link */
.footer-link{
    padding:2% 0 2% 40% ;
   background-color:#EAEAEA;
   }

.social-icon{
    text-decoration: none;
    margin:0 4%;
}

#copyright{
    font-size: 15px;
    margin: 0 4%;
    padding: 2% 0 0;
    color: gray;
}

}

                                    /* small screen laptop */
                                    /*  */
                                    /*  */
                                    /*  */







@media screen and (min-width:768px) and (max-width: 1024px) {
       /* Heading */
       .hero{
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background-image: url('../image/Untitled\ design.png');
        background-repeat: no-repeat;
        margin:2% 2% 0;  
        width: 96%;
        height: 769px; 
    }
    
    .heading-able{
        font-size: 70px;
        font-family: 'Asset', cursive;
        text-shadow: 6px 4px black;
        color: #FFE9A0;
        padding:280px 17% 0;
    }
    
    
    
    /*  p link push live next-page */
    
    .content-intro{
        font-size: 26px;
        font-weight: bold;
        padding: 0 15% 1%; 
    }
    
    .para-intro{
        font-family: 'Ubuntu', sans-serif;
        font-weight: bold;
        font-size: 22px;
        padding:0 15% 3%;
        color: black;
    }
    
    
    
    /* image container */
    
    .blank-box{
        position: relative;
        background-color: #fbffa7 ;
        width: 60%;
        height: 650px;
       left: 35%;
       margin: 0 0 5%;
    }
    .image-guitar{
        left: 25%;
        width: 70%;
        position: relative; 
        bottom: 360px;
    }
    
    .image-piano{
        right: 50%;
        top: 50px;
        position: relative;
        width: 70%;
        height: 550px;
    }
    
    
    /* img content */
    
    .frame-video{
        margin: 2% 15% 3%;
        width: 70%;
        height: 340px;
    
    }
    
  /* image 2 conatiner */

.green-box{
    position: relative;
    background-color: #b6ffc0;
    width: 60%;
    height: 750px;
    margin: 3% 5% 6%;
}

.disk-img{
    width: 70%;
    height: auto;
    position: relative;
    margin: 9% 0 0;  
    left: 5%;
}

.actor-img{
    width: 70%;
    height: auto;
    position: relative;
    left: 5%;
    margin: 10% 0 0;
}

.utar-img{
    width: 70%;
    height: 500px;
    position: relative;
    left: 80%;
    bottom: 570px;
}
    
    /* Volume img */
    
    .volume-img{
        margin: 4% 15% 6%;
        width: 70%;
        height: auto;
    
    }
        
        
    
    
    /* footer link */
    .footer-link{
        padding:2% 40% ;
       background-color:#EAEAEA;
       }
    
    .social-icon{
        text-decoration: none;
        padding: 8%;
    }
    
    #copyright{
        font-size: 12px;
        margin: 4%;
        padding: 2% auto;
        color: gray;
    }
    
    
    }
    
    


                                       /* Mobile Responsive */
                                      /*                   */
                                     /*                   */










@media screen and (max-width:480px ){


 /* Heading abelton */

 .hero{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../image/Untitled\ design.png');
    background-repeat: no-repeat;  
    width: 96%;
    margin: 0 2%;
    height:440px; 
}    
 
 .heading-able{
    font-size: 30px;
    font-family: 'Asset', cursive;
    text-shadow: 6px 2px black;
    color: white;
    text-align: center;
    padding:65% 2%; 
}    

/* content-music */
.content-intro{
    font-size: 18px;
    font-weight: bold;
    padding: 6% 9% 1%; 
    }

.para-intro{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 15px;
    padding:0 9% 2%;
}      
 


/* image container */
 .blank-box{
    position: relative;
    background-color: #fbffa7 ;
    margin: 2%;
    width: 96%;
    height: auto;
    padding: 5% 2%;
}

.image-guitar{
    left: 5%;
    width: 90%;
    position: relative; 
}

.image-piano{
    margin-bottom: 4% ;
    left: 5%;
    position: relative;
    width: 90%;
    height: auto;
}


/* video */
.frame-video { 
   margin: 2% 8%;
   height: auto;
    width: 80%;
}

 

/* image 2 container */
.green-box{
    position: relative;
    background-color: #b6ffc0;
    width: 96%;
    margin: 2%;
    padding: 5% 0;
    height: auto;
}

.disk-img{
    width: 90%;
    height: auto;
    position: relative;
    left: 5%;
    margin: 2% auto;
}

.utar-img{
    width: 90%;
    position: relative;
    left: 5%;
    margin: 2% auto;
}

.actor-img{
    width: 90%;
    position: relative;
    left: 5%;
    margin: 2% auto;
}


/* img content */


.volume-img{
    margin: 5% 8%;
    width: 80%;
    height: auto;

}

/* footer link */
.footer-link{
    padding:2% 20% ;
   background-color:#EAEAEA;
   }

.social-icon{
    text-decoration: none;
    padding: 8%;
}

#copyright{
    font-size: 10px;
    margin: 2%;
    padding-left: 7%;
    color: gray;
}

}










                                      /* Ipad responsive */
                                     /*                 */
                                    /*                 */

    @media screen and (min-width: 481px) and (max-width: 768px) {
        /* Heading */
.hero{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url('../image/Untitled\ design.png');
    background-repeat: no-repeat;
    margin:1% 2% ;  
    width: 96%;
    height: 480px; 
}

.heading-able{
    font-size: 70px;
    font-family: 'Asset', cursive;
    text-shadow: 6px 4px black;
    color: #FFE9A0;
    padding:200px 10%;
}



/*  p link push live next-page */

.content-intro{
    font-size: 25px;
    font-weight: bold;
    padding: 6% 15% 1%; 
}

.para-intro{
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
    font-size: 18px;
    padding:0 15% 2%;
}



/* image container */

.blank-box{
    position: relative;
    background-color: #fbffa7 ;
    width: 55%;
    height: 650px;
   left: 40%;
}
.image-guitar{
    left: 25%;
    width: 70%;
    position: relative; 
    bottom: 320px;
}

.image-piano{
    right: 65%;
    top: 50px;
    position: relative;
    width: 85%;
    height: 550px;
}


/* img content */

.frame-video{
    margin: 5% 15% 3%;
    width: 70%;
    height: 340px;

}

/* image 2 conatiner */

.green-box{
    position: relative;
    background-color: #b6ffc0;
    width: 60%;
    height: 650px;
    margin: 3% 5%;
}

.disk-img{
    width: 70%;
    height: auto;
    position: relative;
    margin: 15% 0 0;  
    left: 6%;
}

.actor-img{
    width: 70%;
    height: auto;
    position: relative;
    left: 6%;
    margin: 15% 0 0;
}

.utar-img{
    width: 70%;
    height: 450px;
    position: relative;
    left: 80%;
    bottom: 480px;
}

/* Volume img */

.volume-img{
    margin: 5% 15%;
    width: 70%;
    height: auto;

}
    
    


/* footer link */
.footer-link{
    padding:2% 40% ;
   background-color:#EAEAEA;
   }

.social-icon{
    text-decoration: none;
    padding: 8%;
}

#copyright{
    font-size: 10px;
    margin: 2%;
    padding: 2% auto;
    color: gray;
}


}

